@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Wittgenstein:ital@0;1&display=swap');

body{
    background: linear-gradient(45deg, rgb(220, 220, 220), rgb(240, 240, 240), white, white, white, rgb(220, 220, 220));
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}
img{
    height: 125px;
    border-radius: 50%;
    border: 1.5px solid blue;
    margin-top: 2%;
}
h2{
    font-size: 1.5rem;
    color: blue;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight:550;
    font-style: normal;
    padding: 1.3rem;
    padding-bottom: 0.2rem;
    margin-right: 7.3%; 
    letter-spacing: 3px;
}
h3{
    font-size: 0.9rem;
    color: blue;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight:550;
    font-style: normal;
    padding-bottom: 0.9rem;
    margin-left: 20%;
    letter-spacing: 2px;
}

.botoes{
    margin-top: 2.5%;
    height: 45%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.botoes button{
    height: 22%;
    font-size: 1rem;
    background:  linear-gradient(45deg, rgb(220, 220, 220), rgb(240, 240, 240), white, white, white, rgb(220, 220, 220));
    border: 1px solid blue;
    color: blue;
}
.botoes button:hover{
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid rgb(59, 150, 211);
    color: rgb(59, 150, 211);
}
a{
    font-style: none;
    text-decoration: none;
    color:blue;
}
#logo{
    border:none;
    border-radius: 0%;
    width: 120px;
    height: 100px;
}